* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(image/bg_1.jpg);
    font-family: system-ui;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
}

header .logo {
    font-size: 30px;
    text-transform: uppercase;
    color: red;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

header ul li {
    margin-right: 30px;
}

header ul li a {
    padding: 6px 15px;
    border-radius: 20px;
    color: red;
}

header ul li a:hover,
.active {
    background: #fff;
    color: #200026;
}